.caracteristicas {
    margin-top: 140px;
    margin-bottom: 100px;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .previews {
            border-radius: 5px;
            overflow: hidden; /* Todo el contenido sobrante lo oculta */
            width: 100%;
            height: 100%;
            position: relative;

            .thumb {
                width: 100%; /* Corregimos la imagen cortado y ahora abarca el 100% */
                height: 100%;
                object-fit: cover; /* Hacemos que la imagen quepa toda dentro de su area */
                position: absolute; /* Hacemos que las imagenes esten todas en el mismo lugar y no en fila vertical */
                top: 0;
                left: 0;
                opacity: 0;
                vertical-align: top; /* Eliminamos un espaciado que pueden tener las imagenes */
                transition: 0.5s ease all;

                &.active {
                    opacity: 1;
                }
            }
        }

        .tabs {
            display: grid;
            grid-template-columns: 1fr; /* Trabajamos con una columna */
            gap: 10px; /* Damos 10px de separacion entre los elementos */

            .tab {
                background: #fff;
                border-radius: 5px;
                display: grid;
                grid-template-columns: auto 1fr;
                cursor: pointer;
                overflow: hidden; /* Con esto nos aseguramos que los border radius funcionen correctamente */

                &.active {
                    background: var(--azul-primario);
                    color: #fff;

                    .icono {
                        color: #fff;
                    }
                }

                .icono {
                    display: flex;
                    align-items: center; /* Centramos el icono */
                    padding-left: 20px; /* Le agregamos un espaciado a la izquierda */
                    color: var(--azul-primario);

                    svg { /* Hacemos el icono un poco mas grande */
                        width: 30px;
                        height: 30px;
                    }
                }

                .info {
                    padding: 20px; /* Damos un espaciado entre contenedor y contenido */
                    display: flex;
                    flex-direction: column; /* Colocamos esto para poner el titulo y parrafo en columna y no coloque uno al lado del otro */
                    gap: 10px; /* Agregamos espacio entre titulo y parrafo */
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            margin-top: 40px;
            margin-bottom: 40px;

            .grid {
                .tabs {
                    .tab {
                        .icono {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        & {
            .grid {
                grid-template-columns: 1fr;
                gap: 5px;

                .tabs{
                    grid-template-columns: 1fr 1fr;
                    gap: 5px;
                }

                .previews {
                    height: 400px; /* Le damos altura a la preview para que aparezcan las imagenes */
                }
            }
        }
    }
}