.precios {
    margin-bottom: 100px;

    .grid { /* Acomodamos todos los paquetes */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .plan {
            background: #fff;
            border-radius: 5px;
            padding: 20px; /* Les damos un margen interno en todos los sitios */
            display: flex;
            flex-direction: column; /* Usamos esto para que sigan en columna y no se acomoden uno al lado del otro a la derecha */
            gap: 30px; /* Les damos un espaciado de 30px */
            border: 1px solid transparent;
            transition: 0.3s ease all;

            &.destacado {
                background: var(--azul-secundario);
                color: #fff;

                .precio span { /* Forma corta de acceder al span sin hacer dobles llaves */
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            &:hover {
                border: 1px solid var(--azul-primario);
            }

            .nombre {
                font-size: 32px;
                font-weight: 700; /* Hacemos el texto en negritas */
            }

            .precio {
                font-weight: 700; /* Hacemos el texto en negritas */
                font-size: 32px;

                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.5);
                }
            }

            .descripcion {
                line-height: 150%; /* Damos un pequeño espaciado entre cada linea de nuestro texto */
            }

            .lista {
                list-style: none; /* Quitamos los puntitos/viñetas que tiene por defecto */
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    display: flex; /* Solo con esto colocamos el texto de la lista a la derecha */
                    align-items: center; /* Alineamos de forma vertical el texto con el icono */
                    gap: 10px;

                    .icono {
                        display: flex;
                        align-items: center; /* Centramos el svg con el texto */
                        color: var(--azul-primario);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        & {
            margin-bottom: 20px;

            .grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media screen and (max-width: 576px) {
        & {
            .grid {
                grid-template-columns: 1fr;
            }
        }
    }
}